[run]
source = h2track_tracking
omit =
    */test/*
    */__pycache__/*
    */site-packages/h2track_tracking/test/*

[report]
fail_under = 70
show_missing = true
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    if TYPE_CHECKING:

[html]
directory = htmlcov
